@import "mixins";


$primrycolor :#0B3A42;
$textcolor :rgb(27, 27, 27);
$bgcolor :#edf7f2;
$seconder: #fff;
$bluecolor: #20C5BA;
$ycolor: #F9B91B;

@font-face {
    font-family: 'Vazir';
    src: url('/font/Vazir.eot'), url('/font/Vazir.woff') format('woff');
}



* {
    @include overal;
}

body {
    background: $bgcolor;
    font-family: 'Vazir';
}

html {
    scroll-behavior: smooth;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    position: fixed;
    margin: 0;



    .bar,
    ::after,
    ::before {
        content: "";
        width: 30px;
        height: 3px;
        background: $seconder;
        transition: all .5s;
        border-radius: 3px;
        position: absolute;

    }

    .bar::before {
        top: -10px;

    }

    .bar::after {
        top: 10px;
    }

}



@media screen and (max-width:768px) {


    .men {
        height: 100vh;
    }
    .maharat-men{
        height: 100vh;
    }

    .header-meno {
        height: 10%;
    }

    .hamburger-menu {
        display: flex;
        z-index: 999;
    }

    .hamburger-open {
        .bar {
            background: transparent;
        }

        .bar::after {

            top: 0;
            transform: rotate(45deg);

        }

        .bar::before {

            top: 0;
            transform: rotate(-45deg);

        }

    }


    nav {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: $bluecolor;
        transform: translateX(100%);
        transition: all .5s ease-in;


        ul {
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            flex-direction: column;
            position: absolute;
            
            top: 10px;
            
            li {

                text-align: center;
                padding-top: 2rem;
                width: 70%;
                a {
                    margin-bottom: 5px;


                    &:hover {
                        background: #0B3A42 !important;
                    }
                }
            }

        }

        .logo {
            position: absolute;
            left: 10px;
            top: 20px;
        }
    }

    .openmeno {
        transform: translateX(0);

    }

    .heade-icon {
        position: fixed;
        left: 0;
        top: 1.5rem;
    }
    #about-men{
        display: flex;
        flex-direction: column-reverse;
    }


    .profile-men {
        margin-top: 25%;
    }

    /*مهارت ها*/
    .laptap{
        margin-top:20px ;
    }
    /*نمونه کارها*/
    .job{
        padding: 2rem;
        
    }
    /*شمارنده*/
    .counter-item {
        margin-top: 20px;
    }
    /*درباره من*/
    .paragraf-men,.profile-men {
        margin-top: 3.5rem;
    }
    .number{
        display: none;
    }
    
    

   .atue{
    p{
        text-align: start !important;
    }
    
   }
   /*پایان*/
   .email-me{
    text-align: center;
   }
}
